@import "tailwindcss";

@theme {
    --color-primary: #F97316;
    --color-secondary: #10B981;

    --color-text-500: #ffffff;
    --color-text-muted-400: #a3a3a3;

    /* text orange */
    --color-text: #F97316;

    /* text green */
    --color-text-500: #0B9268;

    --spacing-18: 4.5rem;
    --spacing-30: 7.5rem;

    --radius-btn: 0.5rem;
    --radius-pill: 2000px;

    --animate-marquee:marquee 40s linear infinite;

    @keyframes marquee{
        from{transform:translateX(0);}
        to {transform:translateX(-50%);}
    }

}

@layer components {
   html, body {
    overflow-x: hidden;
    
}
    nav{
        @apply fixed top-0 left-0
        w-full z-50 transition-colors duration-300
        md:px-14
        mt-2
        mx-3;
    }

    .btn {
        @apply bg-primary px-4 py-2
         text-black rounded-btn 
         cursor-pointer
    }

    .cards{
        @apply border border-gray-200
         p-3 rounded-2xl;
    }

    .cards-primary{
        @apply border border-gray-200 border-t-4
       px-3 py-3 
         rounded-2xl;
    }

    .number-btn {
        @apply bg-secondary rounded-full
         text-white flex size-10
         items-center justify-center
         font-bold
    }

    .circle{
        @apply relative mx-auto
        my-16 md:my-32
        w-[250px] h-[250px]
        md:w-[500px] md:h-[500px]
        [--r:125px] md:[--r:250px]
    }

    .cards-scroll{
        @apply
        flex gap-4 overflow-x-auto snap-x
        snap-mandatory scroll-smooth pb-4
        [scrollbar-width:none] [&::-webkit-scrollbar]:hidden
    }

    .cards-content{
        @apply border rounded-2xl
        shrink-0 snap-start w-72
        md:w-80 p-5
    }

    .tarifs{
        @apply relative bg-black border
         border-white/70
        rounded-2xl w-150 h-93 mt-34 p-3
        before:content-[''] before:absolute
        before:inset-0
        before:-z-10 before:border-2
         before:border-green-500
        before:rounded-2xl before:rotate-3;
    }

   

}