@import "tailwindcss";

@theme{
    --color-primary:#F97316;
    --color-secondary:#10B981;

    --color-text-500:#ffffff;
    --color-text-muted-400:#a3a3a3;

    /* text orange */
    --color-text:#F97316;

    /* text green */
    --color-text-secondary:#0B9268;

    --spacing-18:4.5rem;
    --spacing-30:7.5rem;

    --radius-btn:0.5rem;
    --radius-pill: 2000px;

}

@layer components{
    body{
        @apply mx-1;
    }

    .btn{
        @apply bg-primary ml-47
             mt-2 p-1 
             text-text-500 rounded-btn
             cursor-pointer
    }

    .cards{
        @apply border border-primary
        px-3 py-3 rounded-2xl ;
    }

    
    
}